@media (min-width: 0px) {
  .header--wrapper {
    background-image: url(assets/images/background-lg.jpeg);
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }
}
@media (min-width: 992px) {
  .header--wrapper {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
