.comment-comment-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.comment-comment-header {
  display: flex;
  align-items: flex-start;
}

.comment-comment-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  overflow-wrap: break-word;
}

.comment-image {
  margin-right: 8px;
}

.comment-comment-text {
  margin-top: 8px;
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}
.comment-comment-date {
  color: #5e5c5c;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  margin-top: 8px;
}
