@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif !important;
}

@media (min-width: 992px) {
  .main-grid {
    padding-left: 60px !important;
    padding-right: 60px !important;
  }
}

.masonry {
  /* Masonry container */
  column-count: 1;
  column-gap: 2em;
}

.item {
  display: inline-block;
  width: 50%;
}

.admin-input {
  width: 100%;
  margin-top: 2rem;
  border-radius: 8px;
  padding: 8px 16px;
  border: 1px solid darkgray;
}
